.activities-page {
    width: 100%;
    height: auto;
    min-height: 65vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #f7f7f7;
}

.activities-page > header {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}

.activities-page> header h2{
    padding: 0;
    width: 90vw;
    font-weight: bold;
    font-size: 2rem;
    color: #235371;

}

.activities-page main {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 160px auto;
}


@media (max-width: 768px) {
    .equipment-page > header div{
        width: 100%;
        height: 40px;
        flex: none;
        background-color: #235371;
    
    }

    .equipment-page > header h2{
        font-size: 1.5rem;
    
    }

    .activities-page main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 160px auto;
    
    }

}


@media (min-width: 768px) and (max-width: 1024px)  {
    .equipment-page > header div{
        width: 100%;
        height: 80px;
        flex: none;
        background-color: #235371;
    
    }

    .equipment-page > header h2{
        font-size: 2rem;
    
    }

    .activities-page main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 160px auto;
    
    }
}