.primary-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 65vh;
    max-height: 600px;
    background-size: 100% 100%; 
    flex-wrap: wrap;
  }

  .primary-section div {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.primary-section img {
    width: auto; 
    height: 70%;
  }
  
.primary-section button {
    padding: 20px 20px;
    background-color: #235371;
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .primary-section button a{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
.primary-section button:hover {
    background-color: #1d4357; /* Un tono más oscuro para el efecto hover */
  }

@media (max-width: 768px) {
  .primary-section {
    height: 35vw;
  }
  .primary-section img {
    height: 70%;
  }

  .primary-section button {
    padding: 7px 10px;
  }

  .primary-section button a{
    font-size: 0.5rem;
  }
}


@media (min-width: 768px) and (max-width: 1024px)  {

  .primary-section {
    height: 35vw;
  }

  .primary-section img {
    height: 70%;
  }

  .primary-section button {
    padding: 20px 20px;
  }

  .primary-section button a{
    font-size: 0.8rem;
  }
}
