
.filters-sidebar {
    position: -webkit-sticky;
    position: absolute;
    left: 0;
    top: 0;
    height: 80vh;
    width: 25%;
    z-index: 2;
    background-color: #fff;
    
    border-right: solid 2px #235371;
    border-bottom: solid 2px #235371;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.5); 
}


.filters-sidebar > div{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.filters-sidebar > div button{
    position: absolute;
    width: 40px;
    height: 60px;
    background-color: #235371;
    top:calc(50% - 60px);
    right: -20px;
    margin: auto;
    border-radius: 15px;
    border: none;
}

.filters-sidebar > div button img{
    width: 100%;
    height: 100%;
    transform: scaleX(-1)
}

.filters-sidebar .search-bar {
    width: 80%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: solid 3px #235371;
}

.filters-sidebar .search-bar div{
    width: calc(100% - 10px);
    position: relative;
}
.filters-sidebar .search-bar input {
    width: 100%;
    height: 38px;
    border-radius: 15px;
    border-width: 1px;
    background-color: #f7f7f7;
    padding: 0;
    padding-left: 10px;
}

.filters-sidebar .search-bar button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: calc(50% - 12.5px);
    right: 0;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.filters-sidebar .search-bar button img{
    width: 100%;
    height: 100%;
}

.filters-sidebar > div > div {
    margin-top: 10px;
    width: 80%;
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.filters-sidebar > div > div label{
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #235371;
}

.filters-sidebar > div > div select{
    width: 100%;
    height: 40px;
    padding-left: 5px;
    padding-top: 15px;
    border-radius: 15px;
    border-width: 1px;
    color: #969696;
    background-color: #f7f7f7;
}

.filters-sidebar > div > div select::-webkit-scrollbar {
    width: 5px; 
}

.filters-sidebar > div > div select::-webkit-scrollbar-track {
    background: #fff; 
}

.filters-sidebar > div > div select::-webkit-scrollbar-thumb:hover {
    background: #235371 
}


@media (max-width: 768px) {

    .filters-sidebar {
        width: 90%;

    }

    .filters-sidebar div button{
        width: 30px;
        height: 40px;
        right: -15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px)  {

    .filters-sidebar {
        width: 90%;

    }

    .filters-sidebar div button{
        width: 40px;
        height: 60px;
        right: -20px;
    }

}