header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 4;
}
.space {
  height: 100px;
  width: 100vw;
}

header > div{
  
    min-height: 50px;
    height: 100px;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position:relative;
    background-color: #fff;
    
  }
  
  header > div {
    flex:1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  header > div img {
    min-width: 50px;
    min-height: 50px;
    width: 100px;
    height: 100px;
    padding-left: 50px;
  }
  
  
  
  @media (max-width: 768px) {
    header {
      height: 70px;
      
    }

    .space {
      height: 70px;
    }
  
    header div img {
      width: 50px;
      height: 50px;
      padding-left: 15px;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px)  {

    header {
      height: 100px;
      
    }

    .space {
      height: 100px;
    }

    header div img {
      width: 100px;
      height: 100px;
      padding-left: 15px;
    }
  }
  