.navigation {
    flex:4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:35px;
  
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #235371;
    font-size: 1rem;
  
  }
  
  .navigation ul .link-area{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #235371;
    border-radius: 15px;
    height: 60px;
    min-width: 120px;
    font-size: 0.75rem;
    text-align: center;
    color: #ffffff;
    margin-left: 60px;
    margin-right: 60px;
    
  }
  
  .navigation a {
    font-weight: 700;
    font-size: inherit;
    text-decoration: none;
    color:inherit;
  }
  
  .navigation a:visited {
    color: inherit;
  } 
  
  .navigation button {
    padding: 0;
    border: none;
    padding-right: 15px;
    background-color: #ffffff;
  }
  
  .navigation button img {
    width: 70px;
    height: 70px;
    cursor: pointer;
  }

  .navigation .notifications {
    margin: 0 30px 0 30px;
    padding: 0;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .navigation .notifications img {
    height: 100%;
    width: 100%;

  }

  .navigation .profile {
    margin: 0 30px 0 0;
    padding: 0;
    background-color: #235371;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .navigation .profile img{
    height: 80%;
    width: 80%;

  }


@media (max-width: 768px) {

    .navigation {
      justify-content: flex-end;
    }

    .navigation button img {
      width: 40px;
      height: 40px;
      
    }

    .navigation .notifications {
      padding: 0;
      width: 35px;
      height: 35px;
      margin-left: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
  
    }

    .navigation .notifications img{
      
      min-width: 35px;
      min-height: 35px;
      padding: 0;
      margin: 0;
      
  
    }
  }

  @media (min-width: 768px) and (max-width: 1024px)  {

    .navigation {
      width: 100%;
      justify-content: flex-end;
    }

    .navigation button img {
      width: 70px;
      height: 70px;
      
    }

    .navigation .notifications {
      padding: 0;
      width: 50px;
      height: 50px;
      margin-left: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
  
    }

    .navigation .notifications img{
      
      min-width: 50px;
      min-height: 50px;
      padding: 0;
      margin: 0;
      
  
    }
  }