.login-main {
    
    width: 100vw;
    height: calc(100vh - 100px);
    overflow-x: hidden;
    
  }

  .login-main > section {
    background-color: #f7f7f7;
    width: 100%;
    height: calc(100vh + 100px);
    position: absolute;
    background-image: url('../../../assets/images/visuals/primary_fullsize.jpg');
    background-size: cover;
    top: -100px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

  }

  .login-main > section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 1;

  }

  .login-main > section > div {
    z-index: 2;
    width: 35vw;
    height: 65vh;
    min-height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
  }

  .login-main .left {
    border-radius: 15px 0 0 15px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    overflow-y: auto;
    justify-content: space-evenly;
  
  }

  .login-main .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-main .title h2 {
    color: #ffffff;
    margin: 0;
    padding: 20px 0;
    font-weight: bold;
    font-size: 2rem;
  }

  .login-form {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .login-form input[type="email"], .login-form input[type="password"], .login-form input[type="text"] {

    width: 100%;
    padding: 20px 0;
    padding-bottom: 10px;
    color: #ffffff !important;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    font-size: 1.2rem;
    font-weight: normal;
  }

  .login-form input[type="email"], .login-form input[type="password"], .login-form input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid initial;  
    box-shadow: none;
    background-color: initial;
  }

  .login-form input[type="email"], .login-form input[type="password"], .login-form input[type="text"]:-internal-autofill-selected{
    outline: none;
    border-bottom: 2px solid initial;  
    box-shadow: none;
    background-color: transparent !important;
    appearance: initial;
  }

  .login-form  p {
    margin: 0;
    padding-top: 10px;
    color: #ff3511;
    font-weight: bold;
    font-size: 0.7rem;
  }

  .login-form  .pass-container {
    margin: 0;
    display: flex;
    align-items: flex-end;
    position: relative;
  }

  .login-form .show-pass {
    width: 25px;
    height: 25px;
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 0px;
    margin: 0;
  }

  .login-form .show-pass img {
    width: 25px;
    height: 25px;
  }
  
  .login-form > div{
    margin-top: 20px;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .login-form .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #ffffff;
  }

  .login-form .forgot-password {
    color: #ffffff;
  }
  
  .login-form button, .other-login button {
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 20px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .other-login {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .login-main .separator {
    position: relative;
    width: 80%;
    
    text-align: center;
    background-color: transparent;
  }

  .login-main .separator::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 45%;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
}

  .login-main .separator::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 45%;
      height: 2px;
      background-color: #fff;
      transform: translateY(-50%);
  }

  .login-main .separator span {
    display: inline-block;
    color: #fff;
    padding: 0 10px;
    font-size: 1.5rem;
  }

  .other-login button {
    margin-bottom: 30px;
  }
  .other-login button img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }


  .login-main .right {
    border-radius:  0 15px 15px 0;
    background-color: #235371;
    color: #fff;
    position: relative;
  }

  .login-main .right img{
    width: 100%;
    height: 80%;
    background-size:cover;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .login-main .right p {
    padding-top: 30px;
  }

  .login-main .right a {
    color: #fff;
  }
  
  

  @media (max-width: 768px) {
    .login-main {
      width: 100vw;
      height: calc(100vh - 70px);
      
    }

    .login-main > section {
      width: 100%;
      height: 100%;
      position: static;

  
    }

    .login-main > section::before {
      content: none;
  
    }

    .login-main > section > div:last-child {
      width: 100%;
      height: 100%;
      border-radius: 0px;
      background: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(10px);
    }

    
    
    .login-main .title h2 {
      font-size: 1.2rem;
    }

    .login-main .title p{
      color: #fff;
      font-size: 0.8rem;
      margin-bottom: 20px;
    }

    .login-main h2 + p a{
      color: #fff;
    }


    .login-form input[type="email"], .login-form input[type="password"], .login-form input[type="text"] {
      margin-bottom: 20px;
      font-size: 0.8rem;
      
    }

    .login-form .show-pass {

      bottom: 20px;
    }

    .login-form  p {
      font-size: 0.5rem;
    }

    .login-form > div {
      font-size: 0.6rem;
      
    }
  
    .login-form .remember-me {
      
      font-size: 0.8rem;
      
    }

    .login-form button, .other-login button {
      padding: 15px 0;
      margin: 20px 0 20px 0;
      font-size: 1rem;
    }

    .other-login div span {
      font-size: 1rem;
    }

  }

  @media (min-width: 768px) and (max-width: 1024px)  {

    .login-main {
      width: 100vw;
      height: calc(100vh - 100px);
      
    }

    .login-main > section {
      width: 100%;
      height: 100%;
      position: static;

  
    }

    .login-main > section::before {
      content: none;
  
    }

    .login-main > section > div:last-child {
      width: 100%;
      height: 100%;
      border-radius: 0px;
      background: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(10px);
    }

    
    
    .login-main .title h2 {
      font-size: 1.7rem;
    }

    .login-main .title p{
      color: #fff;
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    .login-main h2 + p a{
      color: #fff;
    }


    .login-form input[type="email"], .login-form input[type="password"], .login-form input[type="text"] {
      margin-bottom: 20px;
      font-size: 1.2rem;
      
    }

    .login-form .show-pass {

      bottom: 10px;
    }

    .login-form  p {
      font-size: 1.2rem;
    }

    .login-form > div {
      font-size: 1.2rem;
      
    }
  
    .login-form .remember-me {
      
      font-size: 1.2rem;
      
    }

    .login-form button, .other-login button {
      margin-top: 50px;
      font-size: 1.5rem;
      padding: 30px 0;
    }

    .other-login div span {
      font-size: 1.5rem;
    }
    
  }
  